
  <h1 align="middle">Ultimate Answers</h1>
  <h4 align="middle">Where the scholars of the message boards will provide their expert advice</h4>
  {{#link-to 'index'}}
  <button class="btn btn-lg center">Home</button>
  {{/link-to}}
{{outlet}}
