<div class="row container">
  <div class="col-xs-8 col-xs-offset-2 jumbotron">
    {{new-question save="save"}}
  </div>
  <div class="col-xs-2">

  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <hr>
    <ul class="list-group">
      {{#each model as |question|}}
      {{#link-to 'question' question}}
      <li class="list-item-group"><h3>Question: </h3><p>
        {{question.content}}
      </p>
      <h4>Author: </h4>
      <p>
        {{question.author}}
      </p></li>
      {{/link-to}}
      {{/each}}
    </ul>

  </div>
</div>
